* {
    font-family: 'Cinzel', serif;
}

#main {
    margin: 0;
    max-width: 1300px;
    background: #fccbce63 no-repeat center top;
    margin-left: auto;
    margin-right: auto;
}

body {
    margin: 0;
}

header {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}


#logo {
    width: 30%;
    flex-wrap: wrap;
 }

#logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img {
    max-width: 100%;
}

header .welcome {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 70%;
    text-transform: uppercase;
}


header .welcome h3 {
    font-size: 40px;
    line-height: 38px;
}

header .welcome p {
    font-size: 20px;
    line-height: 28px;
}

.info {
   display: flex;
    margin-left: auto;
    margin-right: auto;
}

.info img {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#info {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-top: auto;
    width: 50%;
}

.person h2, .skills h2 {
    text-align: center;
    font-size: 26px;
    text-transform: uppercase;
}

.person ul li {
    font-size: 22px;
    list-style-type: none;
}

.skills ul li {
    font-size: 22px;
    list-style-type: none;;
}

li:before {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400px;
    color: #f19aad;
    content: "♦";
    padding-right: 8px;
}

.btn {
    display: block;
    width: 200px;
    font-size: 24px;
    border: 2px solid black;
    transition: 0.5s;
    text-align: center;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    margin-left: 42px;
}

.btn:hover {
    background: #fccbce63;

}


#portfolio {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    max-width: 100%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.portfolio, .links {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
}

.links {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  text-transform: uppercase;
}
@media (max-width: 1160px) {
    header #logo {
        width: 100%;
        margin-left: auto;
    }

    .info {
        flex-direction: column;
    }

    .info img {
      
        margin-left: auto;
        margin-right: auto;
    }

    #info {
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 978px){
  #html img, #js img, #js2 img, #js3 img {
    height: 560px;
    width: 840px;
   
    -webkit-transition: all 1s ease;
       -moz-transition: all 1s ease;
         -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
            transition: all 1s ease;
  }
   
  #html img:hover, #js img:hover, #js2 img:hover, #js3 img:hover {
    width: 940px;
    height: 660px;
  }
}

@media(max-width: 873px){
  .portfolio {
    padding: 0 10px 0 10px;
  }
}





    