* {
    font-family: 'Cinzel', serif;
    box-sizing: border-box;
}

#main {
    margin: 0;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

body {
    margin: 0;
}

ul {
    padding: 0;
}

header {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}


#logo {
    width: 30%;
    flex-wrap: wrap;
 }

#logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img {
    max-width: 100%;
}

header .welcome {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 70%;
    text-transform: uppercase;
}


header .welcome h3 {
    font-size: 40px;
    line-height: 38px;
}

header .welcome p {
    font-size: 20px;
    line-height: 28px;
}

.info {
   display: flex;
    margin-left: auto;
    margin-right: auto;
}

.info img {
    width: 40%;   
    margin-left: auto;
    margin-right: auto;
}



#info {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-top: auto;
    width: 50%;
}

.person h2, .skills h2 {
    text-align: center;
    font-size: 26px;
    text-transform: uppercase;
}

.person ul li {
    font-size: 22px;
    list-style-type: none;
}

.skills ul li {
    font-size: 22px;
    list-style-type: none;;
}

.info li:before {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400px;
    color: #f19aad;
    content: "♦";
    padding-right: 8px;
}

.btn {
    display: flex;
    margin: auto;
    flex-direction: row;
    width: 200px;
    font-size: 24px;
    border: 2px solid black;
    transition: 0.5s;
    text-align: center;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
   
}

.btn:hover {
    background: #fccbce63;
}


#portfolio {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    max-width: 100%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.portfolio, .links {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
}

.links {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  text-transform: uppercase;
  padding: 15px;
}
@media (max-width: 1160px) {
    header #logo {
        width: 100%;
        margin-left: auto;
    }

    .info {
        flex-direction: column;
    }

    .info img {
      
        margin-left: auto;
        margin-right: auto;
    }

    #info {
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }
}

.grid {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.grid li {
    margin: 0;
    text-align: left;
    position: relative;

    perspective: 1700px;
    perspective-origin: 0 50%;
    margin-bottom: 30px;
}


.grid figure {
    margin: 0;
    position: relative;

    transform-style: preserve-3d;
}

.grid figure > div {
    overflow: hidden;
}

.grid figure img {
	max-width: 100%;
	display: block;
    position: relative;
    
    transition: transform 0.4s;
}

.grid figure:hover img {
	transform: translateX(25%);
}

.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background: #2c3f52;
    color: #ed4e6e;
    
    height: 100%;
	width: 50%;
	opacity: 0;
	backface-visibility: hidden;
	transform-origin: 0 0;
	transform: rotateY(-90deg);
    transition: transform 0.4s, opacity 0.1s 0.3s;
    box-sizing: border-box;
    overflow: hidden;
}

figure:hover figcaption {
	opacity: 1;
	transform: rotateY(0deg);
	transition: transform 0.4s, opacity 0.1s;
}

.grid figcaption h3 {
	margin: 0;
	padding: 0;
	color: #fff;
}

.grid figcaption span:before {
	content: 'by ';
}

.grid figcaption a {
	text-align: center;
	padding: 5px 10px;
	border-radius: 2px;
	display: inline-block;
	background: #ed4e6e;
	color: #fff;
}


@media (min-width: 978px){
}





@media(max-width: 873px){
  .portfolio {
    padding: 0 10px 0 10px;
  }
  #info{
      width: 70%;
  }
}

@media(max-width: 600px){
  .links {
    max-width: 60%;
  }
  #info{
    width: 100%;
    padding: 0 25px;
}
}

@media(max-width: 300px){
  .info {
    display: flex;
    text-align: center;
  }
}





    