* {
    font-family: 'Cradley Title';
}

main {
    margin: 0;
    padding: 0;
    background: #fccbce63 no-repeat center top;
    width: 100%;
    display: table;
    align-items: center;
}

body {
    margin: 0;
    width: 80%;
    background: white;
    display: flex;
    margin-left: auto;
    margin-right: auto;
   
}

header {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}
.container { 
    max-width: 1300px;
    max-height: 220px;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: auto;
    }

#logo {
    width: 30%;
    }
    
#logo img {
        width: 100%;
        margin: -60px 0 0;

    }
    
.container .welcome {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 70%;    
    text-transform: uppercase;
   }



.container .welcome h3 {
    font-size: 40px;
    line-height: 38px;
}

.container .welcome p {
    font-size: 20px;
    line-height: 28px;
}

.info {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
  
}

.info img {
    padding-left: 10px;

}

#info {
    display: block;
    margin-left: auto;
    margin-top: auto;
    width: 700px;
   
}

.person h2, .skills h2 {
    text-align: center;
    font-size: 26px;
    text-transform: uppercase;
}

.person ul li  {
    font-size: 22px;
    list-style-type: none;
}

.skills ul li {
    font-size: 22px;
    list-style-type: none;
    ;
 
}

li:before {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400px;
    color: #f19aad;
    content: "♦";
    padding-right: 8px;
       }

.btn {
    display: block;
    width: 200px;
    font-size: 24px;
    border: 2px solid black;
    transition: 0.5s;
    text-align: center;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    margin-left: 42px;
}

.btn:hover {
background: #fccbce63;

}


#portfolio {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    max-width: 100%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;

}

.portfolio {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
      
}

.links {
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 00px;
  
   
}





@media(max-width: 1160px) {
    
    header {
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }

    header #logo {
        width: 100%;
        margin-left: auto;
    }

    .info {
       flex-direction: column;
    }

    .info img {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    }




    